/*.carousel-control.left, .carousel-control.right {
  background: none !important;
  filter: progid: none !important;
  outline: 0;
 }
.carousel .carousel-control {
  visibility: hidden;
}
.carousel:hover .carousel-control {
  visibility: visible;
}


.carousel-control .glyphicon-triangle-left, .carousel-control .glyphicon-triangle-right {
    position: absolute;
    top: 50%;
    left: -20px;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
  }

  .carousel-control {
    color: #777777;
    text-align: center;
    text-shadow: none;
  }*/


#home_slider ul.slides {
    max-height: 580px !important;
    overflow: hidden;
  }


#home_slider {
  position: relative;
  margin-bottom: 10px;
}

#home_slider .slides > li {
  position: relative;
  letter-spacing: 2px
}


#home_slider ul.slides {
  max-height: 400px !important;
  overflow: hidden
}

#home_slider ul.slides li{
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-background-size: cover;
  -mox-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  max-height: 580px;
  overflow: hidden;
}

.caption {
  position: absolute;
  bottom: 100px;
  margin: 0;
  padding: 30px 80px;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 30px;
}

#home_slider ul.slides li img{
  opacity: 0;
}